# Build folders
bin/
obj/

# User settings
*.user
*.suo
*.userprefs

# Logs
*.log

# VS Code
.vscode/*
!.vscode/tasks.json

# Dotnet artifacts
*.dll
*.exe
*.pdb

# EF Core Migrations (valgfrit)
# Migrations/

# Secret files
appsettings.json
*.secret.json 
